<%# TRLN CUSTOMIZATIONS: -%>
<%# - use label_value for the displayed value -%>
<%# - refactor markup to resemble regular BL facets -%>
<%# - use a flexbox layout -%>
<%# - add rel="nofollow", eumulating regular facets -%>

<span class="facet-label">
  <%= link_to label_value, path_for_facet, id: id, class: 'facet-select', rel: 'nofollow' %>
</span>
<%= render_facet_count %>
